# Ignore everything by default.
*

# Track selected root files.
!/.editorconfig
!/.gitattributes
!/.gitignore
!/.node-version
!/.prettierignore
!/.prettierrc
!/LICENSE
!/README.md
!/package.json
!/pnpm-lock.yaml
!/pnpm-workspace.yaml
!/lefthook.yml
!/eslint.config.js
!/tsconfig.json
!/tsconfig.base.json
!/vitest.config.ts
!/turbo.json

# Track repo config directories.
!/.changeset/
!/.changeset/**
!/.github/
!/.github/**
!/.vscode/
!/.vscode/settings.json

# Track source directories.
!/packages/
!/packages/**
!/scripts/
!/scripts/**

# Ignore generated or local-only content inside tracked paths.
*.log
*.lcov
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo

coverage/
logs/
node_modules/
pids/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

**/.DS_Store
**/.eslintcache
**/.npm/
**/coverage/
**/dist/
**/node_modules/
**/package/
